* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
}
.header {
  height: 10vh;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  /* align-items: center; */
}
.main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.footer {
  height: 10vh;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.header_main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}
.header_sub_main {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 250px;
}
.header_sub_main ul {
  height: 94vh;
}
.header_sub_main li {
  margin: 0 !important;
}
.validation {
  color: red;
}
.action_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action_button button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.edit{
  background-color: lightblue;
}
.delete{
  background-color: rgb(240, 128, 128);
}
select{
  width: 100%;
  padding: 4px 11px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.ant-table-thead > tr > th {
    position: relative;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    text-align: center !important;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.3s ease;
}
.ant-table-tbody > tr > td {
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.3s;
    text-align: center;
}
.checkIn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.checkInButton{
  margin-right: 20px;
}
.checkinTable .ant-table-thead > tr > th {
  width: 200px;
}
